
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
 
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="dashboard"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-x-diamond"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
          />
          <path
            fill-rule="evenodd"
            d="M8.361 1.17a.51.51 0 0 0-.722 0L4.766 4.044 8 7.278l3.234-3.234L8.361 1.17zm3.595 3.596L8.722 8l3.234 3.234 2.873-2.873c.2-.2.2-.523 0-.722l-2.873-2.873zm-.722 7.19L8 8.722l-3.234 3.234 2.873 2.873c.2.2.523.2.722 0l2.873-2.873zm-7.19-.722L7.278 8 4.044 4.766 1.17 7.639a.511.511 0 0 0 0 .722l2.874 2.873zM6.917.45a1.531 1.531 0 0 1 2.166 0l6.469 6.468a1.532 1.532 0 0 1 0 2.166l-6.47 6.469a1.532 1.532 0 0 1-2.165 0L.45 9.082a1.531 1.531 0 0 1 0-2.165L6.917.45z"
          />
        </svg>
      </i>
    </div>
    <div class="sidebar-brand-text mx-3">
      BrainStalk
      <sup>BS</sup>
    </div>
  </a>


  <hr class="sidebar-divider my-0" />

  
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw"></i>

      <span>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-file-earmark-post-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zM4.5 3a.5.5 0 0 0 0 1H7a.5.5 0 0 0 0-1H4.5zm0 3a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-7z"
          />
        </svg>
        Blogs
      </span></a
    >
  </li>

  
  <hr class="sidebar-divider" />

  <div class="sidebar-heading">Academic Work</div>


  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-book-half"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
          />
        </svg>
      </i>
      <span>Assignments</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Assignments</h6>
        <a class="collapse-item" href="createAssign">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-journal-plus"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
            />
            <path
              d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
            />
            <path
              fill-rule="evenodd"
              d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"
            />
          </svg>
          Submit Assignments
        </a>
        <!-- <a class="collapse-item" href="ReceivedAssign">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-bookmarks-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"
            />
             <path
              fill-rule="evenodd"
              d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"
            />
          </svg>
          Received Assignments
        </a> 
      </div>
    </div>
  </li> -->

  
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
      </svg>
        <path
          fill-rule="evenodd"
          d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"
        />
      </svg>

      <span>Performance</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">My Performance</h6>
        <a class="collapse-item" href="scores">Grades</a>
        <a class="collapse-item" href="attendance">Attendance</a>
        
      </div>
    </div>
  </li>


  <hr class="sidebar-divider" />

  <div class="sidebar-heading"> Schedule & Course Content</div>


  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>Schedule and Content</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        
        <h6 class="collapse-header">Course</h6>
        <a class="collapse-item" href="content">Learning Content</a>
        <a class="collapse-item dropdown-toggle" id="dropdownMenuReceived" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20" href="https://brainstalk-assignments.s3.ap-south-1.amazonaws.com/ShivamSharma_2018004547.docx">Syllaybus</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuReceived">
          <a class="dropdown-item" href="https://brainstalk-assignments.s3.ap-south-1.amazonaws.com/ShivamSharma_2018004547.docx">CCV</a>
        
        </div>
        <a class="collapse-item" href="https://brainstalk-assignments.s3.ap-south-1.amazonaws.com/ShivamSharma_2018004547.docx">Time Table</a>
        
      </div> 
    </div>
  </li>

  <li class="nav-item">
 
  </li>


  <li class="nav-item">
    <a class="nav-link" href="details">
      <i class="fas fa-fw fa-table"></i>
      <span>Personal Details</span></a
    >
  </li>


  <hr class="sidebar-divider d-none d-md-block" />


  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>

